.drinkItems {
  display: flex;
  width: 900px;
  margin: 0 auto;
  padding: 3px;
}
.drinkItems:hover {
  transform: scale(1.1);
  transition: transform 400ms ease-out;
}

.drink-button {
  width: 100%;
  border: none;
  background-color: cadetblue;
}
.TypeDiv {
  border-radius: 10px;
}
.TypeDish {
  background-color: rgb(147, 241, 147);
  border-radius: 10px;
}
.TypePrice {
  background-color: cadetblue;
  border-radius: 10px;
}
