.maincourse {
  display: flex;
  width: 900px;
  margin: 0 auto;
}
.maincourse:hover {
  transform: scale(1.1);
  transition: transform 400ms ease-out;
}
li {
  display: flex;
  list-style-type: none;
  background-color: cadetblue;
  border: 1px solid black;
  height: 40px;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
.Main-course-buttons {
  width: 100%;
  border: none;
  background-color: cadetblue;
}
