.maincourse {
  display: flex;
  width: 900px;
  margin: 0 auto;
  padding: 3px;
}
.maincourse:hover {
  transform: scale(1.1);
  transition: transform 400ms ease-out;
}
li {
  display: flex;
  list-style-type: none;
  /* background-color: cadetblue; */
  border: 1px solid black;
  height: 40px;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
.Main-course-buttons {
  width: 100%;
  border: none;
  background-color: cadetblue;
}
.DDiv {
  background-color: rgb(147, 241, 147);
  border-radius: 10px;
}
.TDiv {
  background-color: cadetblue;
  border-radius: 10px;
}
.PDiv {
  background-color: cadetblue;
  border-radius: 10px;
}
